<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"></properties>
    <typeAliases>
        <typeAlias type="com.jc02.entity.Userinfo" alias="Userinfo"/>
        <typeAlias type="com.jc02.entity.Roleinfo" alias="Roleinfo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${sdriver}" />
                <property name="url" value="${surl}" />
                <property name="username" value="${susername}" />
                <property name="password" value="${spassword}" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com.jc02.dao/ResourccesMapper.xml"/>
        <mapper resource="com.jc02.dao/RoleinfoMapper.xml"/>
        <mapper resource="com.jc02.dao/UserinfoDaoMapper.xml"/>
    </mappers>
</configuration>