<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ResourccesDao">
    <select id="findByUserId" parameterType="String" resultType="com.jc02.entity.Resourcces">
        select * from Resourcces where uid=#{uid}
    </select>
    <insert id="insert" parameterType="com.jc02.entity.Resourcces">
        insert into Resourcces values(null,#{rname},#{resurl},#{resorderno},#{redsdes},null,null,null,null,#{parentID})
    </insert>
    <update id="update" parameterType="com.jc02.entity.Resourcces">
        update Resourcces set rname=#{rname},resurl=#{resurl}redsdes=#{redsdes},parentID=#{parentID}
    </update>
    <delete id="delete" parameterType="String">
        delete from Resourcces where rid=#{rid}
    </delete>
</mapper>