<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc02.dao.UserinfoDao">
    <insert id="insertUser"  parameterType="Userinfo">
        INSERT INTO userinfo VALUES (#{uid},#{uname},#{upass},#{ustatus})
    </insert>
    <delete id="deleteUser" parameterType="String">
        DELETE FROM userinfo where uid=#{uid}
    </delete>
    <update id="updateUser" parameterType="Userinfo" >
        UPDATE userinfo SET upass=#{upass},ustatus=#{ustatus},uname=#{uname} WHERE uid=#{uid}
    </update>
    <select id="findAllUser" parameterType="String" resultMap="userinfoMap">
        SELECT * FROM userinfo JOIN weixininfo on userinfo.weixinhao=weixininfo.weixinhao WHERE userinfo.uid=#{uid}
    </select>
    <resultMap id="userinfoMap" type="com.jc02.entity.Userinfo">
        <id column="uid" property="uid"></id>
        <result column="uname" property="uname"></result>
        <result column="upass" property="upass"></result>
        <result column="ustatus" property="ustatus"></result>

        <association property="weiXinInfo" javaType="com.jc02.entity.WeiXinInfo">
            <id column="weixinhao" property="weixinhao"></id>
            <result column="weixinnicheng" property="weixinnicheng"></result>
            <result column="weixinimg" property="weixinimg"></result>
        </association>
    </resultMap>
    <select id="checkLogin"  parameterType="Userinfo" resultType="Userinfo">
        SELECT * FROM userinfo WHERE uname=#{uname} AND upass=#{upass}
    </select>
</mapper>
